#carousel {
  width: 300px;
  overflow: hidden;
  height: 300px;
}

.red {
  color: red;
}

/*#carousel ul {
  width: 1920px;
  padding: 0;
  margin: 0;
}

#carousel ul li {
  width: 300px;
  text-align: center;
  height: 300px;
  list-style: none;
  float: left;
}
*/